@using PagedList.Mvc
@model PagedList.PagedList<Lekarite.Mvc.Models.DoctorViewModel>

<div class="container">
    @foreach (var doctor in Model)
    {
        <div class="row">
            <h3>@Html.ActionLink(doctor.FullName, "Get/" + doctor.Id)</h3>
            <p>@("УИН: " + doctor.Uin + ", ")@Html.ActionLink(doctor.City.Name, "/Home")</p>
            <p>@Html.ActionLink(doctor.Specialty.Name, "/")</p>
        </div>
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("All", new { page }))