@model IEnumerable<Lekarite.Mvc.Models.DoctorViewModel>

<div class="container">
    <div class="row">
        <span class="col-md-8 text-center">име</span>
        <span class="col-md-2 text-center">коментари</span>
        <span class="col-md-2 text-center">оценка</span>
    </div>
    @foreach (var doctor in Model)
    {
        @Html.Partial("_BasicDoctorDetails", doctor)
    }
</div>
