body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Mine styles*/
.bg-primary {
    color: #fff;
    background-color: #428bca;
}

a.bg-primary:hover {
    background-color: #3071a9;
}

.bg-success {
    background-color: #dff0d8;
}

a.bg-success:hover {
    background-color: #c1e2b3;
}

.bg-info {
    background-color: #d9edf7;
}

a.bg-info:hover {
    background-color: #afd9ee;
}

.bg-warning {
    background-color: #fcf8e3;
}

a.bg-warning:hover {
    background-color: #f7ecb5;
}

.bg-danger {
    background-color: #f2dede;
}

a.bg-danger:hover {
    background-color: #e4b9b9;
}

.container-striped > .row:nth-child(2n+1) {
    background-color: #ddd;
    padding: inherit;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.container-striped > .row:nth-child(2n) {
    background-color: #B1B1B1;
    padding: inherit;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.container-striped > .row {
    margin-top: 0.5%;
}

.search-suggest {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    position: absolute;
    width: 13.5%;
}